<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #929fba;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Categories</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% categories.forEach(category => { %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= category.category %>/a>
          </li>
          <% }) %> 
        </ul>
      </div>
    </div>
  </nav>



  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">
          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1"><%= product.category %></span>
            </a>
          </div>

          <p class="lead">
            <span><%= product.price %></span>
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p><%= product.description %>.</p>

          <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </form>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
    <hr>
  </div>



  <div class="view overlay">
    <img src="<%=product.image%>">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>