<%- include('partials/prodpay') -%>
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="<%= Product.image %>" class="img-fluid" alt="product image">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">
                  <%= Product.category.category %>
                </span>
              </a>
            </div>

            <p class="lead">
              <span class="span-price"> $<%= Product.price %></span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>
              <%= Product.description %>.
            </p>

            <form class="col s12" action="/product/<%= Product._id  %> " method="POST" id="paymentForm"
              style="display: table; margin: auto;">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">

              <!-- Default input -->
              <input type="email" id="email-address" placeholder="jondoe@yahoo.com" aria-label="Search"
                class="form-control" value=<%= userEmail %> required>

              <!-- Default input -->
              <input type="text" id="first-name" placeholder="Joane" aria-label="Search" class="form-control" value=<%= firstName %> required>

              <!-- Default input -->
              <input type="text" id="last-name" placeholder="Doe" aria-label="Search" class="form-control" value=<%= lastName %> required>

              <input type="number" id="amount" name="" value="<%= ngnAmount %>" readonly required aria-label="Search"
                class="form-control">

              <input type="hidden" id="product-id" name="" value="<%= Product._id %>" readonly required
                aria-label="Search" class="form-control">
              <br>


              <input type="number" id="quantity" value="1" aria-label="Search" class="form-control"
                style="width: 120px">

              <!-- in need of url editing -->
              <button class="btn btn-primary btn-md my-0 p" onclick="payWithPaystack()" type="submit">Pay Now
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
            </form>
          </div>
          <!--Content-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      <hr>
    </div>
  </main>
  <!--Main layout-->
  <!-- SCRIPTS -->
  <!-- MDB core JavaScript -->
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <script>

    const paymentForm = document.getElementById('paymentForm');
    const productId = document.getElementById('product-id').value;
    paymentForm.addEventListener("submit", payWithPaystack, false);
    function payWithPaystack(e) {
      e.preventDefault();
      let handler = PaystackPop.setup({
        key: 'pk_test_49f9d7192d0f9ab259b11f151566b3ae10cc8444', // Replace with your public key
        email: document.getElementById("email-address").value,
        amount: document.getElementById("amount").value * 100 * document.getElementById("quantity").value,
        currency: 'NGN',
        ref: '' + Math.floor((Math.random() * 1000000000) + 1).toString(), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function () {
          alert('Window closed, payment successful !');
        },
        callback: function (response) {
          let message = 'Payment complete! here is your Reference number: ' + response.reference;
          alert(message),
          console.log(response);
          window.location = "https://node-comm.herokuapp.com/process/complete?reference=" + response.reference;
          fetch('https://node-comm.herokuapp.com/process/complete-transaction', {
            method: 'POST',
          headers: {
            Accept: 'application/json; charset=utf-8',
            'Content-Type': 'application/json'
          },
            body:JSON.stringify({
              response
            })
          });
        },
        onClose: function () {
          alert(' An error occured and the tranaction was not completed.');
          window.location = `https://node-comm.herokuapp.com/product/${productId}`
        },
      });
      handler.openIframe();
    }

  </script>
  <script>
    CKEDITOR.replace('ckeditor');
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- Initializations -->
  <script>
    // Animations initialization
    new WOW().init();
  </script>
  <%- include('./partials/footer') %>