<%- include('partials/header.ejs') -%> 
  <!--Main layout-->
  <main class="mt-5 pt-4">  
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <img src="<%= Product.image %>" class="img-fluid" alt="">
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <!--Content-->
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1"><%= Product.category %></span>
              </a>
            </div>
  
            <p class="lead">
              <span> $<%= Product.price %></span>
            </p>
  
            <p class="lead font-weight-bold">Description</p>
  
            <p><%= Product.description %>.</p>
  
            <form class="d-flex justify-content-left" action="/confirm">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit"><a href = "https://flutterwave.com/pay/thelearningbulletinuczj" style="color: white;">Pay Now</a>
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
            </form>
          </div>
          <!--Content-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      <hr>
    </div>
  </main>
  <!--Main layout-->
  <%- include('partials/footer.ejs') -%> 