<%- include('partials/header.ejs') -%> 
<div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
</div>
<!--/.Carousel Wrapper -->

<!--Main layout-->
<main>
  <div class="container">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #929fba; color: white;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Categories</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <% cates.forEach(category => { %>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/category?category=<%=category %>"><%= category %></a>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </nav>
    <!--/.Navbar-->
    <br><br><br>

    <section class="text-center mb-4">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <% if (productFilt.length === 0){ %>
          <p>there are no products in this category, check the main <a href="/">store</a> </p>
      <%  } else  {%> 
        <% productFilt.forEach(product =>{ %>
         <!--Grid column-->
         <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="<%=product.image%>"  class="card-img-top" >
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">
                <h5> <%= product.category %></h5>
              </a>
              <h5>
                <strong>
                  <a href="/product/<%=product._id%>" class="dark-grey-text"><%= product.name %></a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong><%= product.price %>$</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

       <%   }) %> 
   <% } %>

      </div>
      <!--Grid row-->

     

    </section>


    
<%- include('partials/footer.ejs') -%> 